@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  margin-top: 0.8rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #EEA2A2 0%, #B49FDA 100%);
}

.progress {
  background: linear-gradient(90deg, #B49FDA 0%, #57C6E1 100%);
}

.done {
  background: linear-gradient(90deg, #57C6E1 0%, #24d292 100%);
}

.hold {
  box-shadow: inset 0px 0px 8px 5px rgba(238, 162, 162, 0.3);
  color: #EEA2A2;
  border: none;
}

.hide {
  display: none;
}

.hovered {
  border-top: 3px solid rgb(238, 162, 162);
} 